/*
background purple: #540B51
background ivory: #F3EAE2
button blue: #4285F4
titles black: #191817
paragraph black: #000000
paragraph yellow: #ECB12F
links blue: #2E71A6
footer links grey: #454245
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav, header {
    background-color: #540B51;
}

nav img {
    width : 40%;
    height: auto;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 2rem 2rem;
}

button {
    background-color: #540B51;
    border: 0;
    width: 50%;
}


#menu {
    display: none;
}

#leftSide {
    width: 70%;
    display: flex;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    
}

h1 {
    color: white;
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

#quote {
    color: white;
    text-align: center;
    font-size: 1rem; 
}

#quote span {
    color: #ECB12F;
    font-weight: 500;
    font-size: 1.1rem;
}

#signUp {
    background-color: white;
    width: 90%;
    height: 3rem;
    border-radius: 6px;
    display: block;
}

#google {
    background-color: #4285F4;
    width: 90%;
    height: 3rem;
    border-radius: 6px;
    display: flex;
    justify-content: left;
    align-items: center;
    margin : 1rem 0 2rem 0;
}

#bouttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
}

#google img {
    width : auto;
    height: 90%;
    background-color: white;
    border-radius: 2px;
    margin-right: 19%;
}


#mainPicture img {
    width: 150%;
    margin-bottom: -16%;
}

#banLogo {
    background-color: #F3EAE2;
    padding: 1.5rem 0;
}

#banLogo p {
    text-align: center;
    font-weight: 800;
}

section #logo {
    display:flex ;
    flex-wrap: wrap;
    gap: 4%;
    justify-content: space-evenly;
    margin-top: 1.5rem;
}

#logo img {
    width: auto;
    height: 2rem;
    margin-bottom: 1rem;
}
#stat h3 {
    color: #540B51;
    font-size: 1.6rem;
    text-align: center;
    margin: 1rem 1rem 1rem 1rem;
}
#stat p {
    text-align: center;
    font-weight: 500;
}
#stat span{
    color: #540B51;
    font-size: 3rem ;
    text-align: center;
}

ul {
    list-style-type: none;
}

li {
    width: 50%;
    margin: 1.2rem auto; 
}

#stat li p {
    font-weight: 800;
}

#try {
    background-color: #540B51;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
#try h3 {
    color: white;
    text-align: center;
    font-size: 2rem;
    margin-top: 1rem;
   
}
#tryIt {
    background-color: white;
    width: 90%;
    height: 3rem;
    border-radius: 6px;
    display: block;
    margin-top: 1rem;
}
#talk {
    background-color:#540B51;
    border: 2px solid #F3EAE2;
    width: 90%;
    height: 3rem;
    border-radius: 6px;
    display: block;
    margin : 1rem 0 2rem 0;
}




footer {
    font-weight: 700;
    width: 100%;
    padding-left: 5%;
}

footer li {
    width: 100%;
}

footer li:nth-child(7) {
    color: #2E71A6;
    list-style-image: url('../images/icon-download.png');
    margin-left : 1.2rem;
}

footer li:nth-child(6) {
    list-style-image: url('../images/icon-region.png');
    margin-left : 1rem;
}


#rsLogo {
    display: flex;
    justify-content: space-evenly;
}

#rsLogo li {
    display: flex;
    justify-content: center;
}



#legalMention {
    font-weight: 200;
    text-align: center;
}


@media screen and (min-width: 768px) and  (max-width: 1024px) {
    
    #leftSide {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    } 
    
     button {
        width: 20%;
        margin-right: 10px;
    }

    

    header{
        background-image: url('../images/background-singup.png');
        flex-direction: row; 
        background-size: 150%;  
        background-repeat: no-repeat;
       
       
    }
    header > div {
        width: 60%;
        margin-left: 10%;

    }
    header h1{
        text-align: left;
        width: 65%;
        font-size: 3rem;
    }
    
    #bouttons {
        align-items: flex-start;
    }

    #mainPicture {
        width: 40%; 
        position: relative;
        bottom: 50px;    
        left: 50px;
    }
    header #quote{
        text-align: left;
        width: 60%
    }
    #signUp {
        width: 70%;
        height: 3rem;    
    }
    #google {
        width: 70%;
        height: 3rem;    
    }
 






#stat ul {
    display: flex;
}



#stat li p {
    text-align: left;
    width: 65%;
    margin-left: 25%;
}

footer ul {
    display: flex;
    align-items: center;
    gap : 0.5rem;
}

footer li {
    width: 20%;
    font-size: 0.7em;
}
    
    
    #rsLogo {
        justify-content: flex-start;
        width: 50%;
    }

    #rsLogo li {
        width: 5%;
        justify-content: left;
        display: block;
    }
}